<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/fragments/head :: head('Change Password')}"></head>

<body>

<main>
    <div class="container">

        <!-- ======= Header ======= -->
        <header th:insert="~{'/fragments/header' :: header}"></header>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside th:insert="~{'/fragments/sidebar' :: sidebarFragment}"></aside>
        <!-- End Sidebar-->

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                                    <p class="text-center small">Enter your new password</p>
                                </div>


                                <!--       manage error section start-->


                                <div th:if="${error}" class="my-2 g-0 alert alert-danger alert-dismissible fade show" role="alert">
                                    <p class="mb-0 small" th:text="${error}"></p>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>


                                <!--    manage error section end  -->

                                <form th:method="post" th:action="@{'/rrr/admin/change-password/'+${subAdminId}}" th:object="${changePasswordAdmin}" class="row g-3">

                                        <div class="col-md-12">
                                            <label class="form-label">Password</label>
                                            <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                                            <div class="text-danger errorHandle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="form-label">Confirm Password</label>
                                            <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm Password">
                                            <div class="text-danger errorHandle" th:if="${passwordError}" th:text="${passwordError}"></div>
                                        </div>


                                    <div class="col-12">
                                        <button class="btn yellow w-100" type="submit">Change Password</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main>
<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

</body>

</html>